.col-full{
    width: 100%;
}
.col-3{
    width: 33%;
}
.line{
    display: flex;
    flex-wrap: wrap;
}
/* Celulares 260px > */
@media (min-width: 260px){
    .container{
        width: 100%;
        margin: 0 auto;
    }
}
/* Desktop 920px > */
@media (min-width: 920px){
    .container{
        width: 900px;
        margin: 0 auto;
    }
}
/* Desktops e televizões 1280px > */
@media (min-width: 1280px){
    .container{
        width: 1240px;
        margin: 0 auto;
    }
}
